<div class="page-layout--all-center sign-in">
  <kendo-card class="card sign-in--card">
      <kendo-card-body>
          <div class="sign-in--header">
            <img class="sign-in--header--logo" src="/assets/svgs/logo.svg"/>
            <span>Dear Diary</span>
          </div>
          <div class="sign-in--heading">
            <h1>Sign In</h1>
          </div>
          <div class="sign-in--form">
              <kendo-textbox
                placeholder="First Name"
                [style.width.px]="200"
                [clearButton]="true"
                [(ngModel)]="name"
              ></kendo-textbox>
            <button style="margin-left: 50px;">Random</button>
          </div>
          <div class="sign-in--submit">
            <button (click)="onClick()">CONTINUE</button>
          </div>
        </kendo-card-body>
  </kendo-card>
</div>